*,*::after, *::before {
    box-sizing: border-box;
}

 :root {
    --purple-blue: #681fef;
    --lavender-cream: #c8a8f2;
    --acai-juice: #8c1c8c;
    --mazzy-star: #b35fb7;
    --exotic-lilac: #d09ab8;
    --nople-plum: #7f197f;
    --orange: #fca70c;
    --bg-color: #fff;
}

html {
    height: 100%;
    color-scheme: dark light;
}

body {
    min-height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    line-height: 1.5rem;
}

.main a {
    text-decoration: none;
}
#logo_title {
    color: var(--purple-blue);
    font-weight: 400;
}

footer {
    margin-top: auto;
}

.swiper {
    margin-top: auto;
}

input[type=email]:not(:placeholder-shown):invalid {
    color: red !important;
}

/* index page */
/* Keven Powell { Spice up your site | Easy waves, angles, & othe creative shapes with CSS} {https://youtu.be/hWGgw1K-i8Y} */
.main {
    --skew-angle: -3deg;
    position: relative;
    isolation: isolate;
    margin-bottom: -3rem;
    display: flex;
    margin-top: 0;
}

.main::after {
    pointer-events: none;
    content: "";
    background-image: linear-gradient(
        45deg,
        var(--acai-juice),
        var(--nople-plum),
        var(--purple-blue)
    );
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
}

.main2 {
    position: relative;
	background: linear-gradient(-45deg, var(--orange), var(--acai-juice), var(--exotic-lilac), var(--lavender-cream), var(--mazzy-star), var(--nople-plum), var(--purple-blue));
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
    z-index: -1;
    padding-top: 10rem;
    padding-bottom: 10rem;

}


.meow {
    pointer-events: none;
    position: absolute;
    left: 51%;
    top: 31%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#firstCol h1, #secondCol h1 {
    font-size: 1.75rem;
    color: black;
    font-weight: bold;
}

#firstCol p, #secondCol p  {
    font-style: italic;
}

.main3 {
    background: linear-gradient(
        to right,
        var(--purple-blue),
        var(--nople-plum),
        var(--acai-juice)
    );
    padding: 3rem 0;
    margin-top: -3rem ;
}

.box {
    --mask:
      radial-gradient(34.99px at 50% 48.00px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
      radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}

.main3 h1 {
    color: var(--orange);
}

.content-right img {
    margin-bottom: 2rem;
}

.content-left h1{
    font-size: 3rem;
    color: #fca70c;
    align-items: center;
}

.content-left h2 {
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.content-left button {
    background-color: var(--purple-blue);
    border-color: var(--purple-blue);
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.main p {
    font-size: 16px;
    color: #333;
    line-height: 31px;
    margin: 30px 0;
}
/* javascript scroller */
.swiper {
    width: 100%;
}

.swiper-slide {
    cursor: pointer;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1399.99px) {
    .main {
        margin-top: 2rem;
    }
    .meow {
        left: 29%;
        top: 35%;
    }
}
/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .main {
        margin-top: 2rem;
    }
    .meow {
        left: 29%;
        top: 35%;
    }
}

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .main {
        margin-top: 1rem;
    }
    .meow {
        left: 28%;
        top: 35%;
    }
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .main {
        margin-top: 1rem;
    }
    .meow {
        left: 29%;
        top: 35%;
    }
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .main {
        margin-top: 0;
    }
    .meow {
        left: 38%;
        top: 35%;
    }
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .main {
        margin-top: 0;
    }
    .main-content {
        display: grid;
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .content-left button {
       margin: auto;
    }

    .meow {
        margin-right: 1rem;
        left: 40%;
        top: 32%;
    }
}
/* mobile devices */
@media (max-width: 480.98px) {
    .main-content {
        display: grid;
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .content-left button {
       margin: auto;
    }

    .meow {
        margin-right: 1rem;
        left: 40%;
        top: 32%;
    }
}

@media (max-width: 420.98px) {
    .main-content {
        display: grid;
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .content-left button {
       margin: auto;
    }

    .meow {
        margin-right: 1rem;
        left: 53%;
        top: 30%;
    }
}
/* mobile devices */
@media (max-width: 350.98px) {
    .main-content {
        display: grid;
        text-align: center;
    }

    .content-right {
        display: none;
    }

    .content-left button {
       margin: auto;
    }

    .meow {
        margin-right: 1rem;
        left: 53%;
        top: 30%;
    }

    #cat {
        width: 250px;
        height: 300px;
    }
}
@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: black;
}